.DS_Store

**/.*.sw?

.ccls-cache

InputMethodHinter-console
InputMethodHinter-app
*-arm64
*-x86_64

InputMethodHinter.app/Contents/MacOS/InputMethodHinter*
InputMethodHinter.app/Contents/_CodeSignature/**
